@import "tailwindcss";

:root {
  --primary: #02084b;
  --background: #0a0a0a;
  --secondary: #1e1e1e;
  --foreground: #b5b5b5;
  --muted-foreground: #535353;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #02084b;
    --background: #0a0a0a;
    --secondary: #1e1e1e;
    --foreground: #b5b5b5;
    --muted-foreground: #535353;
  }
}

body {
  background: var(--background);
  color: rgb(225, 225, 225);
  font-family: var(--font-inter) !important;
}

h1 {
  font-family: var(--font-playfair) !important;
}

p {
  font-size: 20px;
  color: var(--foreground);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card {
  background-color: var(--background);
  border: 1px solid var(--muted-foreground);
  border-radius: 8px;
  padding: 60px;
}
